*{
    margin:0;
    padding:0;
}

.maincontainer{
    height: 700px;
    background-color: rgb(241, 236, 236);
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding-top: 30px;
}

h1{
    margin-bottom: 20px;  
}

.container{
    background-color:rgb(15, 15, 50);
    height: 500px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: none;
    border-radius: 15px;
}

.input input {
    height: 60px;
    width:300px;
    padding: 10px;
    font-size: 35px;
    background-color: rgb(15, 15, 58);
    color: white;
    border: none;
    
}
.input input:focus {
    outline: none;
    border: none; 
}

.row{
    
    height: 100px;
    display: flex;
    gap: 10px;

}


.row1{
    margin-top: 30px;
}

button{
    height: 65px;
    width: 65px;
    font-size: 20px;
    border-radius:50%;
    border: none;

}
#operator{
    background-color: rgb(231, 141, 6);
    color: white;
    font-size: 30px;
     font-weight: 500;
}
#op{
    background-color: gray;
    color: white;
    font-size: 30px;
    font-weight: 500;
}